.cart-no {
  position: absolute;
  min-width: 25px;
  max-width: 25px;
  border-radius: 50%;
  font-size: 1em;
  background: blue;
  color: wheat;
  top: -12px;
  right: 32px;
text-align: center;
}
a {
  color:#343a40 ;
  text-decoration: none;
  &.active {
    color: orange;
  }
}
.logo{
  cursor: pointer;
  &.focus{
    outline: none;
  }
}
